<nav>
  <a routerLink="/" routerLinkActive="active">Home</a> |
  <a routerLink="/car/Car1" routerLinkActive="active">Car Details</a> |
  <a routerLink="/cancelbooking" routerLinkActive="active">Cancel Booking</a> |
  <a routerLink="/previous-rentals" routerLinkActive="active">Previous Rentals</a> |
  <a routerLink="/further-rentals" routerLinkActive="active">Further Rentals</a>
  <a routerLink="/admin/login" routerLinkActive="active">Admin Portal</a>
</nav>

<router-outlet></router-outlet>
